// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  background-color: #215874;
  color: #cc5555;
}

h1, h3, h5 {
  color: #2d1947;
}

p, h2, h4 {
  color: #9b26fa;
}

input {
  background-color: #80b192;
  color: 	#9b26fa;
  font-weight: bold;
}
